*{
    margin: 0%;
    padding: 0%;
}
header div{
    width: 100%;
}
header{
    background-color: rgb(236, 220, 252);
    height: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 25%;
    border-bottom: 5px solid blueviolet;
}
header div img{
    width: 100%;
    border: none;
    height: 100%;
    margin: 0.2%;
}
h2{
    font-weight: bolder;
    color: blueviolet;
    font-size: 250%;
    text-align:center;
}
header div input{
    outline: none;
    width: 80%;
    font-size: 16px;
    border: 1px solid blueviolet;
    margin-top: 10%;
}
nav{
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10000;
    margin-top: 0.2%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid rgb(205, 151, 255);
}
nav a{
    color: darkmagenta;
    text-decoration: none;
}
nav a:hover{
    color:darkorange;
}
#video h2{
    margin-bottom: 2%;
    text-decoration: underline;
}
#video div{
    border: 1px solid rgb(205, 151, 255);
    height: 50px;
}
.showvideo{
    display: grid;
    grid-template-columns: 10% auto 10%;
}
.showvideo div img{
    width: 100%;
    height: 100%
}
.showvideo div h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0% auto 0% 2%;
    
    color: darkblue;
}
.showvideo div p,span{
    margin: 0% 0% 0% 2%;
    color: darkred;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.showvideo div span{
    color:rgb(250, 16, 16);
}
.showvideo div a{
    text-decoration: none;
    margin: 0% auto auto 0%;
}
#footer{
    background-color: black;
    width: 100%;
    margin-top: 8%;
}
#footer h1{
    color: white;
    text-align: center;
    padding-top: 3%;
}
#footer div i{
    color: white;
    font-size: 40px;
    margin-left: 50%;
}
#footer hr{
    margin: 1%;
}
#end{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}